* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 100;
}

.background {
    position: absolute;
    z-index: -1;
    margin-left: 1000px;
    opacity: 100%;
    height: 1080px;
    width: 920px;
    object-fit: none;
    opacity: 5%;
    background-color: black;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #202020;
    height: 1080px;
    width: 1920px;
    color: white;
    font-family: "Lato", sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15vh;
}

.logo {
    margin: 50px;
    width: 180px;
    height: 80px;
}
.barra-de-pesquisa{
    display: flex;
    align-items:center;
    justify-content: left;
    margin-top: 50px;
    width: 600px;
    height: 50px;
    background-color: black;
    border-radius:20px ;
    color: gray
}
.barra-de-pesquisa img{
    margin:10px
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icones-nav {
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: 40px;
}

.icone-hamburger {
    margin-left: 100px;
    margin-right: 50px;
    height: 40px;

}

main {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
    
}
.main-text{
font-size: 62px;
}

.informacoes-direita {
    width: 750px;
    margin-top: 150px;
    margin-left: 40px;

}

.reviews {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    font-weight: lighter;
    color:grey
}

.descricao {
    width: 500px;
    margin-bottom: 20px;
    font-size: medium;
    font-weight: lighter;
}

.preco {
    color: #CF052D;
}

.preco-original {
    text-decoration: line-through;
    margin-bottom: 20px;
}

.botao-carrinho-e-botao-quantidade {
    display: flex;
    flex-direction: row;

}

.botao-carrinho {
    display: flex;
    flex-direction: row;
    background-color: #CF052D;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 262px;

}

.icone-botao-carrinho {
    height: 27px;
    width: 26px;
}

.botao-quantidade {
    width: 100px;
    height: 60px;
    display: flex;
    flex-direction: row;
    background-color: black;
    align-items: center;
    justify-content: space-evenly;
    color: #CF052D;
    border-style: solid;
    border-color: #CF052D;
    margin-left: 10px;
}

.botao-adicionar-aos-favoritos {
    text-decoration: underline;
    margin-bottom: 50px;
    margin-top: 20px;
}

.botao-favoritos {
    height: 15px;
}


.produto1 {
    width: 657px;
    height: 841px;
}

.outras-fotos-esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.produto1-pequeno {
    width: 120px;
    height: 120px;
    border-style: solid;
    border-color: gray;
    background-color: #202020;
    margin-bottom: 10px;
    margin-right: 50px;
    object-fit: contain;
}

.produto1-pequeno:hover {
    cursor: pointer;
    border-style: solid;
    border-color: #CF052D;
    transition: 0.2s;

}

.produto1-close {
    width: 120px;
    height: 120px;
    border-style: solid;
    border-color: gray;
    background-color: #202020;
    margin-bottom: 10px;
    margin-right: 50px;
    object-fit: contain;
}
.produto1-close:hover {
    cursor: pointer;
    border-style: solid;
    border-color: #CF052D;
    transition: 0.2s;

}

.produto1-menor {
    width: 120px;
    height: 120px;
    border-style: solid;
    border-color: gray;
    margin-right: 50px;
    background-color: #202020;
}
.produto1-menor:hover {
    cursor: pointer;
    border-style: solid;
    border-color: #CF052D;
    transition: 0.2s;

}
footer {

    display: flex;
    justify-content: right;
}

.informacoes-direita h3 {
    color: gray;
    margin-bottom: 20px;
    cursor: pointer;
    width: max-content;

}

.informacoes-direita h3:hover {
    color: white;
    border-bottom: #CF052D;
    border-bottom-style: solid;
}